.footer {
  background: #99704d;
  position: relative;
}

.svg {
  position: absolute;
  width: 125px;
  bottom: 30px;
  right: 60px;
  z-index: 1;
  opacity: 0.3;
}

.footerTopMainDiv {
  margin: 0 auto;
  max-width: 70%;
  margin: 0 auto;
}

.footerMainDiv {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 50px 0;
  border-bottom: 1px solid #fff;
  align-items: center;
}

.socialMediaAndBackToTop {
  display: flex;
  justify-content: flex-start;
}

.socialMediaIconsMainDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialMedia {
  margin: 0;
  color: #fff;
  font-size: 16px;
}

.socialMediaTextDiv {
  margin-right: 10px;
}

.socialMediaIconsDiv {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.socialMediaIconsDiv {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.socialMediaIconsDiv:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

.backToTopDiv {
  background: #fff;
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.email_text {
  color: #efd9c0;
  margin: 0;
  font-size: 16px;
  font-weight: 100;
}
.footerEmail {
  color: #fff;
  font-size: 21px;
  margin: 0 0 35px 0;
}

.footerVendorIconDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.footerVendorIconDiv {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.footerVendorIconDiv:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

.footerVendorIcon {
  width: 25px;
}

.footerVendorText {
  color: #efd9c0;
  margin: 0;
  font-size: 20px;
  font-weight: 100;
}

.footerVendorAgent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.footerInnerHeading {
  color: #fff;
  margin: 0 0 23px 0;
  font-size: 17px;
  font-weight: 100;
}

.footerText {
  color: #fce7cf;
  margin: 0;
  font-size: 16px;
  font-weight: 100;
  opacity: 80%;
  transition: color 0.3s ease, opacity 0.3s ease;
  text-decoration: none;
}
.footerTextDiv a:focus {
  outline: none;
  color: #fce7cf;
}
.footerTextDiv a {
  text-decoration: none !important;
  color: #fce7cf;
}
.footerText:hover {
  color: #fff;
  opacity: 1;
}

.footerBoldText {
  color: #fce7cf;
  margin: 0;
  font-size: 16px;
  font-weight: 100;
  opacity: 80%;
  transition: color 0.3s ease, opacity 0.3s ease;
}
.footerBoldText:hover {
  color: #fff;
  opacity: 1;
}
.footerTextSubDiv {
  margin-top: 25px;
}
.footerTextSubDiv a:focus {
  outline: none;
  color: #2c392c;
}
.footerTextSubDiv a {
  text-decoration: none !important;
  color: #2c392c;
}

.footerLinks {
  display: grid;
  justify-content: space-between;
  margin-top: 55px;
  grid-template-columns: 40% 20% 20% 20%;
}
.medParkFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
.medPark_location_icon {
  display: inline-flex;
  background: #fff;
  color: #99704d;
  border-radius: 100%;
  padding: 7px 7px;
}
.medPark_location_icon svg {
  width: 18px;
  height: 18px;
}
.medParkLogo_container {
  margin-bottom: 20px;
  text-align: right;
  width: 80%;
  margin: 0 0 0 auto;
}
.medParkLogo_container img {
  width: 80%;
}
.medpark_textIcon_container {
  display: flex;
  align-items: center;
}
.medpark_textIcon_container p {
  color: #fff;
  font-size: 20px;
  margin: 10px 0 10px 20px;
}

/* .footerContactDetails {
  width: 40%;
} */

/* .footerLink1,
.footerLink2,
.footerLink3 {
  width: 20%;
} */

.copyrightLinksDiv {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

.copyrightText {
  color: #fff;
  font-size: 13px;
  margin: 0;
}
.copyrightText a:focus {
  outline: none;
  color: #fff;
}
.copyrightText a {
  text-decoration: none !important;
  color: #fff;
}
.copyrightText :nth-child(1) {
  padding-right: 20px;
}
.footerGoldenText {
  color: #dfc7ab;
  font-family: "Mories", sans-serif;
  margin: 20px 0 0px 0;
  padding-bottom: 10px;
  font-size: 88px;
  font-weight: 400;
  letter-spacing: -3px;
  opacity: 30%;
}

.copyrightTextLink {
  color: #fff;
  text-decoration: none;
}

.footerLogosMainDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}

/* .footerLogo1,
.footerLogo2 {
  width: 13%;
} */

/* .footerLogo3 {
  width: 17%;
} */

/* .footerLogo1,
.footerLogo2 {
  margin-right: 40px;
} */
.socialIcon {
  width: 28px;
  height: 28px;
}
.bangkokFooter_container {
  width: 40%;
}
@media only screen and (max-width: 1200px) {
  .footerTopMainDiv {
    max-width: 80%;
  }
  .footerGoldenText {
    font-size: 56px;
  }
}
@media only screen and (max-width: 1024px) {
  .footerTopMainDiv {
    padding: 20px 0px;
  }
  .footerLinks {
    grid-template-columns: 50% 50%;
    gap: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .footerEmail {
    font-size: 16px;
  }
  .medParkFooter {
    flex-direction: column;
  }
  .bangkokFooter_container {
    margin-top: 40px;
  }
  .bangkokFooter_container,
  .medPark_container {
    margin-top: 40px;
  }
  .medParkLogo_container {
    width: 70%;
    margin: 0 auto;
  }
  .bangkokFooter_container,
  .medPark_container {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .footerLinks {
    grid-template-columns: 100%;
  }
  .footerGoldenText {
    font-size: 46px;
  }
  .medpark_textIcon_container p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 425px) {
  .medPark_location_icon svg {
    width: 14px;
    height: 14px;
  }
}
