.container {
  background: #f3f3f3;
  padding: 60px 0;
}
.inner_container {
  max-width: 70%;
  margin: 0 auto;
}
.heading {
  color: #2c392c;
  text-align: center;
  font-family: "Mories", serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.heading_hr {
  width: 8%;
  margin: 0 auto;
  border: 1px solid #ad8e72;
}
.sub_heading {
  color: #2c392c;
  font-family: "Calibri", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
}
.reviewerTopMainDiv {
  margin: 0 auto;
  padding: 20px 0;
}
.reviewTopDiv {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}

.reviewMainDiv {
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 9px 9px 9px 0px;
  padding: 53px 0px 30px 30px;
}

.starNameDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.reviewerName {
  text-align: center;
  margin: 0;
  color: #2c392c;
  font-family: "Calibri", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.reviewerPost {
  text-align: center;
  margin: 0;
  color: #2c392c;
  font-family: "Calibri", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.reviewerNameDiv {
  background: #ffdfb8;
  padding: 8.5px 0px;
  border-radius: 7px 0px 7px 7px;
}

.review {
  padding-right: 30px;
  color: #2c392c;
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.reviewRateDiv {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.reviewRate {
  width: 20px;
  height: 20px;
}

.reviewerNameMainDiv {
  width: 60%;
  margin-right: -31px;
  position: relative;
}

.reviewerNameTopBlock {
  position: absolute;
  right: 0;
  top: -36px;
}

.reviewerImgMainDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -40px;
}

.reviewerImgDiv {
  width: 90px;
  margin-right: 40px;
}

.reviewerImg {
  border-radius: 100%;
}
@media only screen and (max-width: 1330px) {
  .sub_heading {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1200px) {
  .inner_container {
    max-width: 80%;
  }
  .reviewTopDiv {
    grid-template-columns: 29% 29% 29%;
  }
  .heading {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .sub_heading {
    padding-bottom: 60px;
  }
  .reviewTopDiv {
    grid-template-columns: 29% 29% 29%;
  }
  ._reviewMainDiv {
    padding: 53px 0px 13px 20px;
  }
  .review {
    padding-right: 20px;
  }
  .starNameDiv {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .reviewTopDiv {
    grid-template-columns: 100%;
  }
  ._reviewMainDiv {
    padding: 53px 0px 13px 30px;
  }
  .review {
    padding-right: 30px;
  }
  .starNameDiv {
    margin-bottom: 30px;
  }
  .heading_hr {
    width: 20%;
  }
  .reviewRateDiv {
    width: 25%;
  }
}
@media only screen and (max-width: 576px) {
  .heading {
    font-size: 26px;
  }
  .sub_heading {
    font-size: 16px;
  }
}
@media only screen and (max-width: 425px) {
  .heading_hr {
    width: 25%;
  }
  .reviewRateDiv {
    width: 35%;
  }
}
/*slider css*/
.reviewerMainContainer {
  /* display: flex !important;
  flex-direction: column;
  align-items: center; */
}
.testimonialSection {
  width: 100%;
}
.reviewContent {
  position: relative;
  width: 90%;
  margin-left: 1px;
  /* overflow: hidden; */
}
